.kep{
    height: 130px;
    width: 130px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
body{
    color: black;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}
#geppont{
    color: red;
}
#playerpont{
    color: red;
}
@media only screen and (max-width: 500px) {
    .kep{
        height: 80px;
        width: 80px;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 20px;
    }
}
@media only screen and (max-width: 330px) {
    .kepek{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}
@media only screen and (max-width: 250px) {
    .kep{
        height: 70px;
        width: 70px;
    }
    h1{
        font-size: 15px;
    }
    h2{
        font-size: 15px;
    }
}